@font-face {
    font-family: 'Epilogue';
    src: url('./assets/font/Epilogue/Epilogue-VariableFont_wght.ttf');
}
:root{
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
    --fontSize: 1.125rem;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue',sans-serif;
}

body{
    font-size: var(--fontSize);
    background-color: var(--almostWhite);
    padding: 2rem;
    width: clamp(75rem, calc(100% - 40px), 85rem);
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0.5rem 0;
    position: relative;
}
.desktopContainer{
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
}
.desktopDropdown, .desktopDropdown span{
    position: relative;
}
.desktopDropdown{
    padding: 1rem 0.5rem;
    cursor: pointer;
}

.desktopDropdown ul{
    position: absolute;
    display: none;
    list-style: none;
    right: 0;
    width:max-content;
    padding: 0.75rem;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.481);
    border-radius: 0.75rem;
    margin: 0.85rem 0;
}
.desktopDropdown:hover ul{
    display: block;
}
.desktopDropdown ul li{
    padding: 0.3rem;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1rem;
}
.desktopDropdown ul li+li{
    margin-top: 0.05rem;
}
.desktopDropdown ul li img{
    width:fit-content;
}
.desktopCta, .desktopNav{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.desktopCta button{
    padding: 0.825rem;
    width: 9rem;
    background-color: var(--almostWhite);
    border-radius: 2rem;
    border: 1px solid var(--almostBlack);
}
main{
    display: flex;
    justify-content: space-between;
    gap: 4.5rem;
    margin: 2rem 0;
    padding: 0 3.5rem;
    align-items: center;
    text-align: left;

}
header,section{
    width: 50%;
}
h1{
    font-size: 4.5rem;
    padding: 0 4rem 0 0;
}
header p{
    margin: 2rem 0;
    word-spacing: 2px;
    line-height: 1.5rem;
}
header button{
    padding: 0.875rem;
    width: 9rem;
    margin: 0 0 2rem 0;
    background-color: var(--almostBlack);
    border: 1px solid var(--almostWhite);
    color: var(--almostWhite);
    border-radius: 0.75rem;
}
header div{
    margin:3.5rem 0 0 0;
    gap: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
}
section img{
    width: 100%;
    height: 100%;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
button{
    cursor: pointer;
}
.d-none,
.mobileavatar,
.mobileNavigation{
    display: none;
}
.d-block{
    display: block;
}
@media(max-width: 701px){
    .desktopavatar,
    .desktopNav,
    .desktopCta{
        display: none;
    }
    .mobileavatar,
    .mobileNavigation{
        display: block;
    }
    .mobileSideBar{
        position: absolute;
        width: 65vw;
        min-height: 100vh;
        background-color: var(--almostWhite);
        top: 0;
        right: 0;
        padding: 0.5rem 1.5rem;
        animation: mobileNav 0.2s linear;
    }
    @keyframes mobileNav{
        from{
            right:-60vw;
        }
        to{
            right: 0;
        }
    }
    .mobileSideBar .icon-close-menu{
        margin: 0 0 2.5rem 0;
    }
    .mobileSideBar ul{
        list-style: none;
    }
    .mobileSideBar ul li{
        padding: 0.5rem 0;
    }
    .mobileSideBar ul li+li{
        margin: 0.2rem 0 0 0;
    }
    .mobileSideBar .login{
        text-align: center;
        margin: 2rem 0 0 0;
    }
    .mobileSideBar button{
        padding: 0.825rem;
        width: 100%;
        margin-top: 1rem;
        background-color: var(--almostWhite);
        border-radius: 2rem;
        border: 1px solid var(--almostBlack);
    }
    details{
        padding: 0;
        margin: 1rem 0;
    }
    summary{
        list-style: none;
    }
    details p{
        padding: 0.3rem 0.5rem;
        margin: 0.1rem 0 0 0.3rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .firstChild{
        margin-top: 1rem;
    }
    body{
        width: 100vw;
        padding: 1.5rem 5%;
    }
    main{
        flex-direction: column-reverse;
        gap: 2.5rem;
        margin: 2rem 0;
        padding: 0;
        text-align: center;
    }
    header,section{
        width: 100%;
    }
    h1{
        font-size: 2rem;
        padding: 0;
    }
    h1,
    header p,
    header button{
        margin: 0 0 1rem 0;
    }
    header div{
        margin: 2rem 0;
        gap: unset;
        justify-content: space-between;
    }
    header div img{
        width: 24%;
    }
}